<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Tracks Audio Features</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Top Tracks Audio Features</h1>
    <table>
        <thead>
            <tr>
                <th>Track ID</th>
                {% for feature in desired_features %}
                    <th>{{ feature }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for audio_feature in audio_features_list %}
                <tr>
                    <td>{{ audio_feature['track_id'] }}</td>
                    {% for feature in desired_features %}
                        <td>{{ audio_feature['features'][feature.lower()] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
